/* Project.html page Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #8b3e1a; /* Brown background, main theme for my portfolio */
    color: ghostwhite; /* White text */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em 1em;
}

header h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.top-left h1 {
    font-size: 1.5em;
}
.top-right a:hover{
    color: gold;
}
.top-right a:focus,
.top-right a.active{
    color: goldenrod;
    text-decoration: underline;
    
}
.top-right ul {
    list-style: none;
    display: flex;
    gap: 1em;
    text-decoration: underline;
}

.top-right a {
    color: #fff;
    font-weight: bold;
}
main {
    padding: 2em;
}

.project-intro,
.project-details {
    max-width: 800px;
    margin: 2em auto;
    line-height: 1.8;
}

.project-intro h2,
.project-details h3 {
    font-size: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
    color: rgb(202, 177, 116);
}

.project-intro p,
.project-details p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-align: justify;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1em;
    color: #4a2f27;
}
